html,
body {
  background-color: rgb(125, 0, 255);
  height: 100vh;
  overflow-y: visible;
}

h1,
p,
title {
  color: rgb(255, 255, 255);
}

.text-faded {
  opacity: 0.4;
}
.text-fading {
  opacity: 0.6;
}

#map {
  height: 45vh;
}

.hero-text {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0px 0px 0.3rem;
  font-family: "Heebo", sans-serif;
  line-height: 1;
}

.stat {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.leaflet-container {
  background: rgb(125, 0, 255);
}

.container {
  overflow-x: hidden;
  overflow-y: hidden;
}

section {
  overflow-x: hidden;
}
.bottom {
  background: white;
  padding-top: 40px;
}

.with-padding {
  padding: 20px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-left {
  display: flex;
  align-items: center;
}
.text-container {
  display: block;
}

.default-image {
  max-width: 200px;
  max-height: 200px;
}

ol {
  counter-reset: item;
}
ol li {
  display: block;
}
ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: bold;
}

#countryList {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.country {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  background: #fbfbfb;
  box-shadow: 0px 1px 2px 0px #dadada;
}
.backgroundGreen {
  background: #71e271;
}

.flag {
  height: 15px;
  margin: 20px;
}

@media (min-width: 800px) {
  .bottom > .container {
    padding: 20px 10px 10px 0px;
  }
  #countryList {
  }
}
@media (max-width: 800px) {
  .secondary-color {
    background: #d5d5fa;
  }
  .country {
    flex: 1 0 90%; /* explanation below */
    margin: 5px;
  }
}
